<section>
  <article>
    <h3>Interpolação</h3>
    <p>String renderizada com a interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é {{ 1 + 1 }}</p>
    <p>O resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem + '/?1'}}">
    <img [src]="urlImagem + '/?2'">
  </article>

  <article>
    <h3>Class and Style binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Perigo</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">Cor mudar de acordo com a classe selecionada</div>
      <div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'" role="alert">Este texto aparece somente caso seja selecionado perigo</div>


      <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">Sucesso</div>
      <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">Info</div>
      <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">Alerta</div>
      <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">Perigo</div>

    </div>
  </article>
</section>


<section>
  <article class="">
    <h3>Event binding</h3>
    <div>
      <button (click)="botaoClicado()" type="button" class="btn btn-primary">Me clique!</button>
      <br><br>
      <label for="">Digite o valor</label>
      <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarConteudo(campoInput.value)"
      (blur)="salvarConteudo(campoInput.value)" #campoInput>
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>
      <br><br>
      <span [class.text-bg-success]="isMouseOver"
      [class.p-3]="isMouseOver"
      [style.padding]="'16px'"
      (mouseover)="mouseOver()" (mouseout)="mouseOut()">
      Passe o mouse sobre mim</span>

    </div>

  </article>
</section>

<app-meu-form></app-meu-form>


<section>
  <article>
    <h3>Input/Output property</h3>
    <app-curso [nomeCurso]="nomeDoCurso"></app-curso>
    <label>Mudar nome do curso</label>
    <input type="text" [(ngModel)]="nomeDoCurso">
    <!-- property binding é opcional caso o valor passado seja 'hard coded' -->
    <!-- <contador valor="10"></contador> -->
    <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador>
    <p>{{ novoValor }}</p>
  </article>
</section>
